<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather-Training</title>
    <link rel="stylesheet" href="styles/index.css">
    <script src="styles/index.js" defer></script>
</head>
<body>
    <div class="centerLink">
        <h1>Content is fetched from the API:</h1>
        <a id="apiWebsite" href="https://open-meteo.com/" target="_blank" rel="noopener noreferrer">
            https://open-meteo.com/
        </a>
    </div>
    <div class="contentWrap">
        <h2>Weather Application with Open Meteo</h2>
        <form id="weatherForm" method="get">
            <div class="container">
                <input type="text" id="cityInput" name="city" placeholder="Enter city name" required>
                <button type="submit">Search</button>
            </div>
            <div class="buttonsContainer">
                <button id="First" type="button" class="buttonsClass">Monday</button>
                <button id="Second" type="button" class="buttonsClass">Tuesday</button>
                <button id="Third" type="button" class="buttonsClass">Wednesday</button>
                <button id="Fourth" type="button" class="buttonsClass">Thursday</button>
                <button id="Fifth" type="button" class="buttonsClass">Friday</button>
                <button id="Sixth" type="button" class="buttonsClass">Saturday</button>
                <button id="Seventh" type="button" class="buttonsClass">Sunday</button>
            </div>

            <div style="display: none;">
                <%- include('svgWeatherIcons/svgSunIcon')%>
                <%- include('svgWeatherIcons/svgCloudy')%>
                <%- include('svgWeatherIcons/svgPartlyCloudy')%>
                <%- include('svgWeatherIcons/svgRainThunder')%>
            </div>

            <div id="weatherResults">
                <%- include('svgWeatherIcons/svgSunIcon')%>
                <%- include('svgWeatherIcons/svgRainThunder')%>
            </div>
        </form>
    </div>
        <script
        src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
        type="module"
        ></script>
    
    
</body>
</html>